.box{
    width: 100%;
    background-color: #f6f6f6;
}
.register{
    width: 1200px;
    height: 550px;
    margin:  0 auto;
    overflow: hidden;
    
}
.register-o{
    width: 750px;
    height: 480px;
    margin: 35px auto;
    border-top: 2px solid #f26b11;
    background-color: white;
}
.for{
    width: 380px;
    height:405px;
    /* background-color: white; */
    margin-top: 35px;
    /* border: 1px solid red; */
    margin: 50px auto;
}
.for .h{
    text-align: center;
}
.for-o{
    width: 380px;
    height: 400px;
    /* border: 1px solid red; */
    margin: 25px auto;
}
.pox{
    margin-top: 10px;
    position: relative;
    font-size: 12px;
    color: #f26b11;
    margin-top: 30px;
}
.pox input[type="text"]{
    width: 330px;
    height: 35px;
    padding-left: 40px;
    border: 1px solid #ff6a6c;
    
}
.for-o .a{

    display: inline-block;
    width: 26px;
    height: 28px;
    
    background: url(../images/xing.png) no-repeat;
    position: absolute;
    top: 6px;
    left: 4px;
}
.pox2{
    position: relative;
    margin-top: 10px;
    font-size: 12px;
    color: #f26b11;
    margin-top: 20px;
}
.pox2 input[type="password"]{
    width: 330px;
    height: 35px;
    padding-left: 40px;
    border: 1px solid #ff6a6c;
    
}
.for-o .b{
    
    display: inline-block;
    width: 26px;
    height: 28px;
    background: url(../images/mima.png) no-repeat;
    position: absolute;
    top: 7px;
    left: 5px;
}
.pox3{
    margin-top: 10px;
    color: #f26b11;
    margin-top: 20px;
    font-size: 12px;
    
}
.pox3 input[type="text"]{
    width: 205px;
    height: 35px;
    padding-left: 10px;
    border: 1px solid #ff6a6c;
    
}
.pox4{
    margin-top: 20px;
}
.pox4 input[type="submit"]{
    width: 380px;
    height: 35px;
    padding-left: 10px;
    border-radius: 5px;
    background-color:#f26b11;
    color: white;
}
.pox5{
    text-align:center;
    width:380px;
    /* height: 20px; */
    /* border: 1px solid red; */
    margin-top: 30px;
    font-size: 12PX;
}
.pox5 a{
   color: #f26b11;
}

.icpA{
    margin: 0 auto;
    color: #a7a7a7;
    font-size: 8px;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
}